* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
  --p-font-size: 14px;
}

body {
  background-color: var(--Off-Black);
}

main {
  display: grid;
  place-content: center;
  height: 100vh;
}

.box {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color: var(--Dark-Grey);
  border-radius: 10px;
  gap: 30px;
}

.avatar-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 90px;
  border-radius: 100%;
}

.profile {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.profile h2 {
  color: var(--White);
  font-weight: 600;
}
.profile p {
  font-size: var(--p-font-size);
  color: var(--green);
  font-weight: 600;
}

.p-2 {
  font-size: var(--p-font-size);
  color: var(--White);
}

.socials {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 0 10px;
}

.social-item {
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: var(--White);
  background-color: var(--Grey);
  font-size: var(--p-font-size);
  transition: 0.3s all;
  font-weight: 600;
}

.social-item:hover {
  background-color: var(--green);
  color: var(--Off-Black);
}
.responsive-msg {
  max-width: 300px;
  text-align: center;
  color: var(--green);
  display: none;
}

@media (max-width: 800px) {
  .box {
    display: none;
  }
  .responsive-msg {
    display: flex;
  }
}
